.inputMakeMeReason{
    width: 690px;
    height: 67px;
    
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #CDD1C4;
    box-shadow: none;

    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #DFDFDF;
    
    margin-top: 64px;
}
