@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


.CopyButton{
    font-family: 'Montserrat';
    height: 48px;
    width: 428px;
    padding: 12px 100px 12px 100px;
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;

    font-weight: 600;
}