@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.mainButton{
    font-family: 'Montserrat';
    margin: 0;
    margin-top: 44px;
    display: inline-block;
    width: 454px;
    padding: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #FFFFFF;
    border: none;
    color: #4674F6;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    cursor: pointer;
}