.selectMakeMeReason{
    width: 552px;
    height: 48px;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 21px;

    color: #FFFFFF;

    background: transparent;

    border: 1px solid #FFFFFF;
}

label{
    display: block;
    margin: 0;
    margin-top: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;

    text-align: center;

    color: #fff;
}